<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.txt">

  <!-- NLog'un dahili loglarını etkinleştir -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- Log hedefleri tanımla -->
  <targets>
    <!-- Dosya hedefi - tüm loglar -->
    <target xsi:type="File" name="allfile" 
            fileName="logs/all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" 
            archiveFileName="logs/archives/all-${shortdate}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Dosya hedefi - sadece hata logları -->
    <target xsi:type="File" name="error" 
            fileName="logs/error-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|${callsite}|${stacktrace}" 
            archiveFileName="logs/archives/error-${shortdate}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30"
            concurrentWrites="true"
            keepFileOpen="false" />

    <!-- Konsol hedefi -->
    <target xsi:type="Console" name="console" 
            layout="${date:format=HH\:mm\:ss}|${event-properties:item=EventId_Id:whenEmpty=0}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  </targets>

  <!-- Log kuralları -->
  <rules>
    <!-- Tüm logları dosyaya yaz -->
    <logger name="*" minlevel="Info" writeTo="allfile" />
    
    <!-- Hata loglarını ayrı dosyaya yaz -->
    <logger name="*" minlevel="Error" writeTo="error" />
    
    <!-- Konsola yaz -->
    <logger name="*" minlevel="Info" writeTo="console" />
    
    <!-- Microsoft loglarını filtrele -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog> 