<div class="grid">
  <div class="col-12 md:col-4">
    <button pButton pRipple type="button" label="Kullanıcı Yönetimi" class="p-button-raised p-button-info w-full" (click)="navigateToUserManagement()" *ngIf="isAdmin"></button>
  </div>
  <div class="col-12 md:col-4">
    <button pButton pRipple type="button" label="Kullanıcı Rolleri" class="p-button-raised p-button-warning w-full" (click)="navigateToRoleManagement()" *ngIf="isAdmin"></button>
  </div>
  <div class="col-12 md:col-4">
    <button pButton pRipple type="button" label="BİLGİ İŞLEM" class="p-button-raised p-button-success w-full" (click)="navigateToITManagement()"></button>
  </div>
</div> 